@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@400;0,500;0,600;0,700;&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    box-sizing: border-box;
}

body { 
    font-family: "Montserrat Alternates", "sans-serif";
    font-size: 1.25rem;
    line-height: 1.6;
    margin-inline-start: 100px;
    margin-inline-end: 100px;
}

header {
    text-align: center;
}

h1 {
    font-family: "Playfair Display", serif;
    text-align: center;
    color: #484D55;
    font-size: 6.5rem;
    line-height: 1.1;
}

h2 {
    font-family: "Playfair Display", serif;
    color: #CB721C;
    font-size: 2.05rem;
}

h3 {
    font-size: 1.5rem;
}

.menu {
    display: flex;
    justify-content: right;
    list-style-type: none;
    padding-right: 25px;
}

.menu-item {
    align-items: center;
    padding-left: 15px;
}

a {
    color: #2B930B;
}

a:hover,
a:focus-visible {
    color: #4fc42b;
    text-decoration-style: dashed;
    text-decoration-color: #62f336;
}

ul {
    list-style: circle;
}

section ul li::marker {
    content: '🔥 ';
}

ol {
    list-style: upper-roman;
}


ol li::marker{
    color: #087A98;
}
 
.hero-img {
    display: block;
    margin: atuto;
    width: 100%;
}

.teal-text {
    color: #087A98;
}

.teal-bg {
    background-color: #087A98;
    color: #FFFFFF;
    border: 5px solid #0B4A5A;
    text-align: center;
    padding: 20px;
}

.teal-bg strong {
    color: #9df0f0;
}

.climber-bg {
    background-image: url("/resources/images/simple-steps.jpg");
    color: #FFFFFF;
    padding: 24px;
    border: 5px solid #3c96ac;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

footer {
    text-align: center;
}
